*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- Navigation Bar ----------------------- */

header{
    display: flex;
    justify-content: flex-end;
}

nav{
    margin: 25px 40px 0 0;
    font-size: .8rem;
    color: black;
}

nav a{
    margin-left: 15px ;
    color: hsl(0, 0%, 20%);
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color:black;
}
nav a:last-child{
    color: white;
    padding: 7px 15px;
    background-color: hsl(240, 35%, 60%);
    border-radius: 2px;
    cursor: default;

}
nav a:last-child:hover{
   text-decoration: none;

}

nav i{
    padding: 5px;
    transform: scale(1.3,1.6);
    color: hsl(0, 0%, 30%);
}
nav i:hover{
    color: black;
}

.btn{
    background-color: aliceblue;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn:hover{
    border: 1px solid hsl(208, 100%, 78%);
}
.btn:focus{
    border: 1px solid hsl(208, 100%, 58%);   
}

/* -------------------- Search Form Main ----------------------- */

img{
    display:block;
    margin: 16vh auto 2rem auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

form .buttons{
    margin-top: 2rem;
}

form .search-icon { 
    position: absolute; 
    padding: 13px 0 0 20px ;
    color: hsl(0, 0%, 70%) ;
    transform: scale(1.2,1.2);
} 


.search-field{
    position: relative;
    width: 60%;
    max-width: 600px;
    min-width: 430px;
    margin: 0 auto;
    text-align: center;
}
 
#search{
    border-radius: 20px;
    padding-left: 50px;
    width: 90%;
    height: 45px;
    border: 1px solid hsl(0, 0%, 80%) ;
    outline: none;
    margin: 0 auto;
}

#search:hover,
#search:focus{
    box-shadow: 0 1px 5px 0 hsla(225, 6%, 13%, 0.28);
}



/* -----------------------------Footer --------------------------------- */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(0, 0%, 95%);
    font-size: .9rem;
}

.footer{
    border-top: 1px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 45%) ;
}

.footer-country{
    padding: 10px 0 10px 25px ;
}

.footer-info-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 0;
}

.footer-info a{
    color: hsl(0, 0%, 45%) ;
    text-decoration: none ;
    padding-left: 25px ;
}

.footer-info a:hover{
    text-decoration: underline;
}


/* -------------------------Responsive Design ----------------------*/

@media screen and (max-width: 805px){
    .footer-info-container{
        flex-direction:column;
        align-content: center;
    }

    .footer-top{
        order: 1;
    }

    .footer-bottom{
        order: 2;
        padding-top: 20px;
    }

    .footer-info{
        margin: 0 auto;
    }
    
}